.login-container {
  display: flex;
  height: 100vh;
  background-color: rgb(18, 20, 62);


}

.login-box {
  flex: 1; /* Take up 50% of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  
}



.knife-container {
  flex: 1; /* Take up 50% of the container */
  background-color: rgb(18, 20, 62);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items at the start (top) */
}

.knife-image {
  width: 30%; /* Adjust the width as needed */
  margin-top: 200px;
  margin-bottom:50px; /* Set margin from the top */
  /* Set margin from the bottom */
  color: white; /* Set text color to white */
  /* Center text horizontally */
  
  text-align: center;
}



.welcome-container {
  flex: 1; /* Take up 50% of the container */
  background-color: rgb(253, 253, 255);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the start (top) */
}

.welcome-image {
  width: 10%; /* Adjust the width as needed */
  margin-top: 10px; /* Set margin from the top */
  margin-bottom: 20px; /* Set margin from the top */
}

.text-3xl {
  margin-bottom: 40px; /* Add more space by increasing the margin-bottom */
}


